* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

#ipad {
    flex: 1;
    max-width: 800px;
    min-height: 600px;
    margin: 50px auto;
    border: 20px solid black;
    background-color: black;
    border-radius: 22px;
    display: flex;
}

#screen {
    background-color: white;
    flex: 1;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}

#nav {
    flex: 1;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    background-color: lightpink;
}

#app {
    flex: 8;
    display: flex;
    background-color: lightskyblue;
    border-radius: 0px 0px 10px 10px;
}

#tools {
    flex: 1;
    padding: 5px;
    background-color: beige;
}

#canvas {
    flex: 8;
    padding: 5px;
    border: 1px 0px 0px 1px solid black;
    background-color: aquamarine;
}