@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 6px;
}

:root {
    --darkest: #0c0c0c;
    --darker: ;
    --dark: ;
}

body {
    font-family: "Roboto Mono", monospace;
    max-width: 1000px;
    margin: 100px auto;
}

#mainBody {
    background-color: palevioletred;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 5px 5px 0px 0px white;
}

#containerLeft {
    background-color: yellow;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

#title {
    flex: 1;
    padding: 10px;
    background-color: lightskyblue;
}

#options {
    flex: 5;
    display: flex;
    background-color: lightskyblue;
}

#options ul {
    list-style-type: none;
    flex: 1;
}

#options li {
    background-color: yellow;
    margin: 10px;
    padding: 10px;
}

#containerRight {
    background-color: yellow;
    flex: 2;
    align-self: stretch;
    padding: 10px;
}

#canvas {
    background-color: lightskyblue;
    padding: 10px;
    height: 100%;
}